@charset "UTF-08";

*{
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
 menu{
    display: none;
 }
 header h1{text-align: center;

 }

 article{
    width: 100%;
 }
 