@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
min-height: 100vh;
background-color: bisque;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    background-color: rgb(255, 10, 10);
    color: white;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

}
section.normal{
    background-color: rgb(255, 255, 255);

}
section.imagen{
    background-color: rgb(48, 48, 48);
    color: white;
}

section.imagen > p{
    background-color: rgba(85, 85, 85, 0.411);
    width: 400px;

}





footer > p{
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;

}